@import "variable.scss";

.comments{
  float: left;
  width: 100%;
  position: relative;
  background: #14191C;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  @include margin-function( $m1rem,0,$m1rem,0);

  .all-comments
  {
    width: 100%;
    text-align: center;
    a
    {
      display: inline-block;
      color:$orangecolor;
      text-decoration: none;
    }
  }

  .comment
  {
    display: flex;
    color:$whitecolor;
    margin-bottom: $commentBottom;
    
    &.reply{
      margin-left: 50px;
    }

    >div{
      margin: $commentMargin;
    }

    .comment-user{
      flex-shrink: 1;
    }

    .comment-body{
      width: 100%;
      
      strong
      {
        font-weight: 600;
        padding-right: 5px;
      }

      img{
        max-width: 100%;
      }

      p{
        margin-bottom: 5px;
      }
    }
    .comment-time
    {
      color:$orangecolor;
    }
    .comment-dot
    {
      color:$texticoncolor;
    }
    .comment-actions
    {
      span
      {
        float: left;
        margin-right: 5px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color:$whitecolor;
        cursor:pointer;
        font-weight: 600;
      }
      span.fa
      {
        float: left;
        color:$orangecolor;
        font-size: 20px;
        cursor:pointer;
        font-weight: 100;
      }
    }
  }

  .comment-img
  {
    float: left;
    img
    {
      height: 45px;
      width: 45px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border:1px solid $orangecolor;
    }
  }
  .comment-text
  {
    float: left;
    width:100%;
    input[type=text]
    {
      background: $posttextcolor;
      border:0px !important;
      -webkit-border-top-left-radius: 5px;
      -moz-border-top-left-radius: 5px;
      border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
      height: 45px;
      line-height: 45px;
      @include padding-function( 0,$p2rem,0,$p2rem);
      color:$texticoncolor;
    }
    input[type=text]::placeholder
    {
      color:$texticoncolor;
    }


    button
    {
      border:0px;
      background: $posttextcolor;
      color:$texticoncolor;
    }
    button:last-child
    {
      @include padding-function( 0,$p2rem,0,0);
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-top-right-radius: 5px;
      border-top-right-radius: 5px;
    }
    button.added-photo
    {
      color: $orangecolor;
    }
    .comment-photo
    {
      label
      {
        margin:0px;
        content:'';
      }

      input[type=file]
      {
        position: absolute !important;
      }
    }


    .comment-media
    {
      background: $posttextcolor;
      padding: 0.5rem 2rem;
      @include padding-function( $p05rem,$p2rem,$p05rem,$p2rem);
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
      position: relative;

      .media-img:hover .img-hover
      {
        display: block;
        border:1px solid $orangecolor;
      }
      .media-img
      {
        position: relative;
        display: inline-block;
        text-align: center;
        .img-hover
        {
          position: absolute;
          height: 100%;
          text-align:center ;
          width: 100%;
          background: $imghovercolor;
          z-index: 12;
          display: none;
          .img-center
          {
            position: relative;
            height: 100%;
            width:100%;

          }
          img
          {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0;
            right: 0;
            margin: auto;
            height: 18px;
            vertical-align: middle;
            width: 18px;
          }
        }
        img
        {
          max-height: 50px;
        }
      }

    }

  }

}
